l/* reset */ 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* utility */
a {
    text-decoration: none;
} 
.container {
    max-width: 1100px;
    margin: auto;
    padding: 0 20px;
    overflow: auto;
}
/* navbar */
nav {
    background: #345baf;
    Overflow: auto;
}
nav a {
    color: white;
}

nav h1 {
    float: left;
    padding: 15px;
}
nav ul {
    float: right;
    list-style: none;
}
nav ul li {
    float: left;
}
nav ul li a {
    display: block;
    padding: 20px;
    text-align: center;
} 
 
#nav ul li a.current, nav ul li a:hover {
    background: #345baf;
    color: #f7c08a;
}

#showcase {
   background: url('../img/showcase.jpg')
}    







